@use 'main';

.hero {
    width: 100%;
    height: 87vh;
    text-align: left;
    color: white;
    overflow: hidden;
    display: inline-block;
    background-size: cover;
    background-position: bottom center;
    padding: 4rem 3.2rem 0 3.2rem;
}