*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
//_____________________________________________variables________________________________
$white :#FFF;
$black : #292929;
$grey : #F5F5F5;
//_____________________________________________extends___________________________________

//_____________________________________________menu______________________________________

body
{
    font-family:"Poppins";
    max-width: 120rem;
}

.admin-bar .menu {
    top: 32px; /* on prend en compte le décalage */
    z-index: 999;
}

.site__header {
    display: flex;
    justify-content: space-between; 
    background-color: $black;
   
    
    &__logo
    {
        margin-top: 2rem;
        color: white;
        text-decoration: none;
    }
    &__menu
     {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row;
        li{
            border: 1px solid $black;
            transition: all 400ms;
            display: inline;
            margin-left: 1rem;
            margin-right: 1rem;
            list-style-type: none;
            text-decoration: none;
            &:hover{
                background-color: white;
                padding-left:0.5rem;
                padding-right: 0.5rem;
                transform: scale(1.15);
                a{
                    color:$black;
                }
            }
            a{
                color: $white;
                text-decoration: none;   
<<<<<<< HEAD
=======
            }
        }
        
    }
    
}  
//_________________________________________footer____________________________

.site__footer
{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap:wrap;
    flex: 25%;
    .footer__intro
    {
        margin-right: 5rem;
        &__pub
        {
            width: 15rem;
        }
        &__media
        {
            display: flex;
            flex-wrap: wrap; 
            img{
                margin-right: 2rem;
>>>>>>> dev
            }
        }
        
    }
    
}  
//_________________________________________footer____________________________

.site__footer
{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap:wrap;
    flex: 25%;
    .footer__intro
    {
        &__pub
        {
            width: 25rem;
        }
        &__media
        {
            display: flex;
            flex-wrap: wrap; 
        }
    }

    .footer__hours__section-1, .footer__hours__section-2, .footer__hours__section-3, .footer__hours__section-4
    {
        display: flex;
        flex-direction: row;
    }

    .footer__hours__line
    {
        margin-left: 1rem;
        margin-right: 0.2rem;
        width: 5rem;
        border-bottom: 1px solid $white;
    }

    .footer__contact__phone, .footer__contact__address, .footer__contact__mail
    {
        display: flex;
        flex-direction: row;
    }
    
    
    .insta
    {
        width: 1.5rem;
        height: auto; 
    }
    .footer__hours
    {
        &__section-1, &__section-2, &__section-3, &__section-4
        {
            display: flex;
            flex-direction: row;
            margin-right: 5rem;
        }
        
        img{
            margin-right: 2rem;
        }

    }
    
    .footer__contact
    {
        width: 50rem;
        &__phone, &__address, &__mail
        {
            display: flex;
            flex-direction: row;
            img {
                margin-right: 1rem;
            };
           
        }
        &__address__street
        {
            margin-top: 1rem;
        }

        &__address__svg
        {
            margin-top: -2.5rem;
        }
        
    }

    .insta
    {
        width: 1.5rem;
        height: auto; 
    }  
    
}