@import 'reset';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
//_____________________________________________variables________________________________
$white :#eae5e5;
$black : #1a1a1a;
$grey : #F5F5F5;
//_____________________________________________extends___________________________________

//_____________________________________________menu______________________________________

body
{
    font-family:"Poppins";

}

.admin-bar .menu {
    top: 32px; /* on prend en compte le décalage */
    z-index: 999;
}

.site-header {
    display: flex;
    justify-content: space-between; 
    padding: 15px 32px;
    height: 60px;
    position: relative;
    
    @include extralarge {
        max-width: 1200px;
        margin: 0 auto;
        padding: 15px 0;
    }
    
    &__logo
    {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin-bottom: 0;
    }

    &__menu-btn {
        cursor: pointer;
        
        p {
            color: white;

            img {
                margin-left: 10px;
            }
        }

        @include extralarge {
            display: none;
        }
        
    }

    &__dropdown {
        display: none;
        width: 150px;
        position: absolute;
        background: white;
        padding: 20px 30px;
        top: 60px;
        right: 32px;
        text-align: right;

        @include extralarge {
            display: block;
            position: relative;
            background: none;
            top: 0;
            padding: 0;
        }

        ul {
            list-style-type: none;
    
            @include extralarge {
                display: flex;
            }
            
    
            li{
                transition: all 400ms;
                margin-left: 1rem;
                margin-right: 1rem;
                text-decoration: none;

                @include extralarge {
                    display: inline;
                    color: white;
                }
    
                &:hover{
                    background-color: white;
                    padding-left:0.5rem;
                    padding-right: 0.5rem;
                    transform: scale(1.15);
                    a{
                        color:$black;
                    }
                }
                a{
                    color: $black;
                    text-decoration: none;  

                    @include extralarge {
                        color: white;
                    }
                    
                    span {
                        color: $black;

                        @include extralarge {
                            color: white;
                        }
                    }
                }
            }
            
        }
    }
    
}  
//________________________________________newsletter________________________
.newsletter
{
    width: 100%;
    text-align:center;
    position: relative;
    font-family: "Poppins";
    
    &__center
    {
        width:100%;
        position: relative;
        top: 2rem;
        display:  block;
        z-index: 2;
        margin: auto;
        height: 30rem;
        background-color: $black;
       @include medium
       {
           height: 20rem;
           box-shadow: 0px 5px 5px black;
       }
        @include extralarge
        {
            width: 70%; 
            height: 20rem; 
            
        }
       
        &__img
        {
            position: relative; 
            width: 100%;
            height: 20%;
            @include large
            {
                height: 30%;
            }
            @include extralarge
            {
                height: 40%;
            }
        }

    }
    &__form
    {   width: 100%;
        display:block;
        margin:auto;
        @include medium
        {
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            justify-content:space-between;
        }
        
        @include extralarge
        {
            width:100%;
            margin-left: 2rem;
            margin-right: 2rem;
            justify-content: space-between;
        }
        &__center
        {
            @include large{
            padding-left:5rem;
            padding-right:5rem;
            }
        }
        p{
            text-align:center;
            margin-left: 30%;
            font-size: 2.5rem;
            color: #efefef;
            width: 15rem;
            font-family: "Poppins";
            font-weight: 700;
            @include medium
            {
                text-align:left;
                margin-left: 5rem;
                font-size: 4rem;
                width: 20rem;
                line-height: 5rem;
            }
            @include extralarge
            {
                width: 20rem;
            }
        }
        &__mail , &__submit
        {
            margin-top: 1rem;
            height: 4rem;
            border: 1px solid $black;
            text-align: center;
            border-radius: 0.5rem;
            font-size: 1.8rem;

            @include extralarge
            {
                text-align: center;
            }
        }
        &__submit
        {
            width: 12rem;
            p{
                font-weight: bold;
            }
        }
        &__mail
        {
            width: 90%;
            margin-right:0;
            @include medium{
                width:70%;
            }
            @include extralarge
            {
                 width:auto;
            }
        }
    }
}
//_________________________________________footer____________________________
.footer__img
{
    z-index: -2;
    position: relative;
    margin-top: -6rem;
    width: 125rem;
    display: block; 
    
}
.site__footer
{
    width: 100%;
    position: relative;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color:$black;
    color: white;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    p, b{
        color: white;
        font-size: 1.6rem;
    }
    .footer__intro
    {
        
        margin-right: 5rem;
        &__logo
        {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        &__pub
        {
            width: 15rem;
            color: white;
        }
        &__media
        {
            display: flex;
            flex-wrap: wrap; 
            img{
                margin-right: 2rem;
            }
        }
     
    }
    .footer__open__hours__repeater
    {
        margin-bottom: 1rem;
        font-weight: bold;

    }
    .footer__open__hours__repeater__line
    {
        border-bottom: 1px solid $white;
        width: 40%!important;
        
    }
    .footer__open__hours__flex
    {
        display: flex;
        flex-direction: row;
        flex: 33%;
        width: 35rem;
        margin: 1rem;
    }
    .footer__open__hours__flex p 
    {
        margin: 0;
        padding: 0;
    };
    .footer__contact
    {
        margin-left: 4rem;
        
    }
    .footer__contact__phone
    {
        margin-top: 1rem;
    }
    .footer__contact__adress, .footer__contact__phone
    {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        &__icone
        {
            margin-right: 2rem;
        };
    }
    .footer__contact__adress__restaurant
    {
        margin-top: 1rem;
    }
} 
.iscwp-img
{   height: 100%;
    width: auto!important;
    &-link
    {
        margin:0rem!important;
        display:none!important;
    }
    &-wrp
    {   height:10rem!important;
        margin:0rem!important;}
}

.iscwp-meta
{
   display: none!important;
}						

.site__footer__part__two 
{
    background-color: $black;
    
    p{
        color: white;
        text-align: center;
        margin-bottom:0;
    }
    &__line
    {
        border-top: 1px solid $white;
        width: 70%;
        display: block;
        margin: auto; 
    }
}


// ------------ Discover Menu Part ----------

.menufront {
    text-align: center;
    width: 100%;
    padding: 6rem 3.2rem 6rem 3.2rem;

    @include extralarge {
        display: grid;
        grid-template-columns: 1fr 600px 600px 1fr;
        grid-template-areas: ". images infos .";
        justify-content: center;
    }

    &__mobile {
        text-transform: uppercase;

        @include extralarge {
            display: none;
        }
    }

    &__images {

        @include medium {
            max-width: 60%;
            margin: 0 auto;
        }

        @include extralarge{
            grid-area: images;
            max-width: none;
        }

        img {
            margin: 1rem;
        }
    }

    &__infos {
        margin-top: 30px;

        @include extralarge {
            grid-area: infos;
            padding: 0 2rem;
        }

        &__desktop {
            display: none;
            text-transform: uppercase;

            @include extralarge {
                display: block;
            }

            &-subtitle {
                font-weight: 200;
                margin-bottom: 2rem;
            }

            &-title {
                margin-bottom: 4rem;
            }
        }

        &-description {
            margin-bottom: 4rem;

            @include extralarge {
                margin-bottom: 8rem;
            }
        }
    }
}


// ------------ latest Recipes ----------

.latestrecipes {
    width: 100%;
    padding-top: 6rem;

    &__subtitle {
        font-weight: 300;
        text-align: center;
    }

    &__title {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0px;
    }

    &-wrapper {

        @include medium {
            margin: 0 32px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @include extralarge {
            max-width: 1200px;
            margin: 0 auto;
        }
        
    }
    
}

.lastrecipe {
    background-color: white;
    margin-top: 3rem;

    @include medium {
        box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0 12.5px 10px rgba(0, 0, 0, 0.035),
            0 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0 100px 80px rgba(0, 0, 0, 0.07)
        ;
        width: 48%;
    }

    @include extralarge {
        width: 24%;
    }

    &__img-wrapper {
        width: 100%;
        height: 200px;
        overflow: hidden;

        @include large {
            height: 170px;
        }
        
        .wp-post-image {
            height: auto;
            width: 100%;
        }
    }

    &__infos {
        padding: 24px 32px 10px 32px;

        @include extralarge {
            padding: 24px 16px 10px 16px;
        }
        
        &-date {
            color: #7b7b7b;
            margin-bottom: 10px;
            font-size: 1.2rem;
            font-weight: 200;

            img {
                width: 10px;
                height: 10px;
                margin-right: 8px;
                
            }
        }

        &-title {
            margin-bottom: 40px;
            text-align: justify;
        }

        &-link {
            display: grid;
            grid-template-columns: 1fr 95px;
            grid-template-areas: " dash link ";
            align-items: center;
        }

        &-dash {
            grid-area: dash;
            height: 1px;
            border-bottom: 1px dashed $black;
            margin-top: 4px;
        }

        &-readmore {
            grid-area: link;
            color: $black;
            text-transform: uppercase;
            text-align: right;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }
}
