*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
//_____________________________________________variables________________________________
$white :#FFF;
$black : #292929;
$grey : #F5F5F5;
//_____________________________________________extends___________________________________

//_____________________________________________menu______________________________________

body
{
    font-family:"Poppins";
    max-width: 120rem;
}

.admin-bar .menu {
    top: 32px; /* on prend en compte le décalage */
    z-index: 999;
}

.site__header {
    display: flex;
    justify-content: space-between; 
    background-color: $black;
   
    
    &__logo
    {
        margin-top: 2rem;
        color: white;
        text-decoration: none;
    }
    &__menu
     {
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: row;
        li{
            border: 1px solid $black;
            transition: all 400ms;
            display: inline;
            margin-left: 1rem;
            margin-right: 1rem;
            list-style-type: none;
            text-decoration: none;
            &:hover{
                background-color: white;
                padding-left:0.5rem;
                padding-right: 0.5rem;
                transform: scale(1.15);
                a{
                    color:$black;
                }
            }
            a{
                color: $white;
                text-decoration: none;   
            }
        }
        
    }
    
}  
//_________________________________________footer____________________________

.site__footer
{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap:wrap;
    flex: 25%;
    .footer__intro
    {
        margin-right: 5rem;
        &__logo
        {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        &__pub
        {
            width: 15rem;
            color: white;
        }
        &__media
        {
            display: flex;
            flex-wrap: wrap; 
            img{
                margin-right: 2rem;
            }
        }
      
      
    }
    .footer__open__hours__repeater
    {
        margin-bottom: 1rem;
        font-weight: bold;
    }
    .footer__open__hours__repeater__line
    {
        border-bottom: 1px solid $white;
        width: 30%;
        
    }
    .footer__open__hours__flex
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 33%;
        width: 20rem;
    }
    .footer__contact
    {
        margin-left: 2rem;
        
    }
    .footer__contact__phone
    {
        margin-top: 1rem;
    }
    .footer__contact__adress, .footer__contact__phone
    {
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
        &__icone
        {
            margin-right: 2rem;
        };
    }
    .footer__contact__adress__restaurant
    {
        margin-top: 1rem;
    }
}  

      
