
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
//_____________________________________________variables________________________________
$white :#FFF;
$black : #292929;
$grey : #F5F5F5;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    color: $black;
}

p, a {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
}

a {
    color: $white;
    text-decoration: none;
}

h1 {
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
}

h2 {
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
}

h3 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

body {
    line-height: 1;
}