@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  color: #292929;
}

p, a, input, ul, li, label {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

body {
  line-height: 1;
}

.btn {
  border: 0;
  background-color: #292929;
  color: #FFF;
  padding: 15px 20px;
  font-size: 1.6rem;
  display: inline-block;
}

.clear {
  clear: both;
}

body {
  font-family: "Poppins";
}

.banneer {
  height: 87vh;
}

.banneer_image {
  height: 87vh;
  width: 100%;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  background-position: bottom center;
  padding: 7rem 3.2rem 0 3.2rem;
}
.banneer_image h2, .banneer_image h1, .banneer_image p {
  color: #eae5e5;
  text-align: center;
  position: relative;
  z-index: 2;
}
.banneer_image h2 {
  padding-top: 10vh;
}
.banneer_image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -20;
}

.hero__wrapper {
  -webkit-filter: initial;
          filter: initial;
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    grid-area: main;
  }
}
.hero__wrapper__title {
  color: #eae5e5;
  font-size: 4rem;
}
.hero__wrapper__subtitle {
  color: #eae5e5;
}

.presentation {
  background-color: #f2f3f4;
  padding: 5rem 0;
}
.presentation__intro {
  font-size: 3rem;
  text-align: center;
  padding-top: 3rem !important;
}
.presentation__intro__welcome {
  font-size: 1.8rem;
}
.presentation__intro__bold {
  font-weight: bolder;
}
.presentation__board {
  display: block;
  margin: auto;
  width: 70%;
  margin-bottom: 5rem;
}

.presentation__board__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid grey;
  -webkit-box-shadow: 5px 1px 0px grey;
          box-shadow: 5px 1px 0px grey;
  margin-top: 2rem;
}
.presentation__board__center__left, .presentation__board__center__right {
  width: 100%;
}
.presentation__board__center__image {
  width: 100%;
  height: 100%;
}
.presentation__board__center__intro {
  font-size: 3rem;
  text-align: center;
  margin-top: 3rem !important;
}
.presentation__board__center__text {
  padding-left: 5rem;
  padding-right: 5rem;
  line-height: 4rem;
}
.presentation__board__center__title {
  text-align: center;
  padding-top: 2rem;
}

.map__intro {
  margin-top: 2rem !important;
  text-align: center;
}
.map__intro__bold {
  font-weight: bolder;
}

.acf-map {
  width: 100%;
  height: 84rem;
  border: #ccc solid 1px;
  margin: 2rem 0;
}

.acf-map img {
  max-width: inherit !important;
  /* Corrige un souci de conflit avec le thème sinon le petit bonhomme de StreetView s’en retrouve tout déformé*/
}

.part_book {
  position: relative;
}

.book {
  display: block;
  margin: auto;
}
.book__intro {
  text-align: center;
}

.reserve {
  background-color: #f2f3f4;
  width: 50rem;
  height: auto;
  position: absolute;
  top: 15rem;
  right: 35rem;
  z-index: 10;
}
.reserve .widget::marker {
  color: #f2f3f4;
}
.reserve .widgettitle {
  display: none;
}
.reserve .reservation {
  border: none;
  margin-left: 20%;
}
.reserve .reservation legend {
  display: none;
}
.reserve .reservation #rtb-party {
  font-size: 1.6rem;
}
.reserve .rtb-contact {
  border: none;
  margin-left: 20%;
}
.reserve .rtb-contact legend {
  display: none;
}
.reserve a {
  color: #1a1a1a;
}
.reserve button {
  margin-left: 20%;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  border: 1px solid #1a1a1a;
  color: #eae5e5;
  background-color: #1a1a1a;
}

.image_register {
  width: 70rem;
  height: auto;
  z-index: 9;
  margin-left: 20vw;
}
/*# sourceMappingURL=single-restaurant.css.map */