@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.recipe_Principal {
  width: 100vw;
}
.recipe__SectionGray {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  width: 100%;

}
.boxGrayMiddle {
  width: 60%;
  align-self: center;
  position: relative;
  top: 10rem;
}
.single__Title {
  color: $white;
}
.single__Title--paragraphe {
  color: $white;
  margin-bottom: 5rem;
}
.single__Title--image {
  width: 100%;
}
.menu__recipe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-bottom: 2rem;
}
.menu__recipe--left-btn {
  width: 10rem;
  border-right: 1px solid white;
  margin-right: 3rem;
  font-size: 1.6rem;
  color: $white;
}
.menu__recipe--left {
  display: flex;
  align-items: top;
  
}
.menu__recipe--left-text {
  padding: 0;
  color: $white;
}

.recipe__SectionIngredient {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 13rem;
}
.box__IngredientEtInstructions {
  width: 50%;
  align-self: center;
}
.ingredient__Text {
  font-size: 4rem;
  margin-left: 2rem;
}
.box__Ingredient {
  margin-bottom: 3rem;
}
.instructionEtImg {
  display: flex;
}
.instructionNumber {
  color: $white;
  background-color: black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.instructionNumberP {
  color: $white;
  margin: 0;
  
  
}