@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #292929;
}

p, a {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}

h2 {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

body {
  line-height: 1;
}

.hero {
  width: 100%;
  height: 87vh;
  text-align: left;
  color: #FFF;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  background-position: bottom center;
  padding: 7rem 3.2rem 0 3.2rem;
}
@media screen and (min-width: 1200px) {
  .hero {
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-areas: ". main .";
    justify-content: center;
    padding: 7rem 0 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero__wrapper {
    grid-area: main;
  }
}
.hero__wrapper__title {
  color: #FFF;
  font-size: 4rem;
}
.hero__wrapper__subtitle {
  color: #FFF;
}

.usps {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .usps {
    flex-direction: row;
  }
}
.usps .usp {
  width: 75%;
  margin: 0 auto;
  margin-top: 60px;
}
.usps .usp p {
  display: none;
}

.intro {
  width: 100%;
  padding-bottom: 60px;
}
.intro__img-wrapper img {
  width: 100%;
  height: auto;
}
.intro__info {
  padding: 0 3.2rem 0 3.2rem;
  margin-top: 30px;
}
.intro__info__title {
  text-transform: uppercase;
}
.intro__info__subtitle {
  font-size: 1.3rem;
}
.intro__info__signature {
  font-size: 2rem;
}