@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #292929;
}

p, a, input, ul, li, label {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

body {
  line-height: 1;
}

.btn {
  border: 0;
  background-color: #292929;
  color: #FFF;
  padding: 15px 20px;
  font-size: 1.6rem;
  display: inline-block;
}

.clear {
  clear: both;
}

.sectionHerohome {
  height: 40vh;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .sectionHerohome {
    display: grid;
    grid-template-columns: 1fr 992px 1fr;
    grid-template-areas: " . main . ";
  }
}
@media screen and (min-width: 1200px) {
  .sectionHerohome {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-areas: " . main . ";
  }
}

.HeroImage {
  width: 100%;
  z-index: -5;
  position: absolute;
  filter: brightness(50%);
}

.herocontent {
  margin: 8rem 3.2rem;
}
.herocontent * {
  color: white;
}
@media screen and (min-width: 992px) {
  .herocontent {
    margin-left: 0;
    grid-area: main;
  }
}
@media screen and (min-width: 1200px) {
  .herocontent {
    margin-left: 0;
    grid-area: main;
  }
}
.herocontent__subtitle {
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 992px) {
  .herocontent__subtitle {
    font-size: 5rem;
  }
}
.herocontent__title {
  text-transform: uppercase;
  font-size: 4rem;
}
@media screen and (min-width: 992px) {
  .herocontent__title {
    font-size: 8rem;
    margin-top: 4rem;
    margin-bottom: 7rem;
  }
}
.herocontent__link {
  margin-top: 0;
  margin-left: 10px;
}

.recipes-container {
  background-color: #f5f5f5;
}
@media screen and (min-width: 992px) {
  .recipes-container {
    display: grid;
    grid-template-columns: 1fr 992px 1fr;
    grid-template-areas: " . main . ";
  }
}
@media screen and (min-width: 1200px) {
  .recipes-container {
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-areas: " . main . ";
  }
}

.recipes-list {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 992px) {
  .recipes-list {
    grid-area: main;
  }
}
@media screen and (min-width: 1200px) {
  .recipes-list {
    grid-area: main;
  }
}
.recipes-list__tag {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
  text-align: center;
}
.recipes-list__tag span {
  margin: 0 30px 0 10px;
  font-size: 1.4rem;
  font-weight: 600;
}

.recipe-item {
  background-color: white;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .recipe-item {
    margin: 0 32px 50px 32px;
  }
}
@media screen and (min-width: 992px) {
  .recipe-item {
    height: 400px;
    display: flex;
  }
  .recipe-item:nth-child(2n+1) {
    flex-direction: row-reverse;
  }
}
.recipe-item .wp-post-image {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .recipe-item .wp-post-image {
    width: 55%;
    height: auto;
  }
}
.recipe-item__infos {
  padding: 10px 32px 20px 32px;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .recipe-item__infos {
    width: 45%;
    padding-top: 30px;
  }
}
.recipe-item__infos-tag {
  width: 100%;
  margin-bottom: 10px;
}
.recipe-item__infos-tag a {
  margin: 0 30px 0 10px;
  font-size: 1.3rem;
  color: #292929;
}
.recipe-item__infos-date {
  color: #979797;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.recipe-item__infos-desc a {
  color: #292929;
}