body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Primary buttons styles */
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
          box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
  /* Primary buttons :hover styles */
  /* Primary buttons :focus styles */
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus, body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:hover, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:hover, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:hover, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:hover {
  background: #008ec2;
  border-color: #006799;
  color: #fff;
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-primary:focus {
  -webkit-box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
          box-shadow: 0 1px 0 #0073aa, 0 0 2px 1px #33b3db;
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-default, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-default, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-default, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-default {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  padding: 0 10px 1px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  -webkit-box-shadow: 0 1px 0 #ccc;
          box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
  /* Secondary buttons :hover styles */
  /* Secondary buttons :focus styles */
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:hover, body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:hover, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:hover, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:hover, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus {
  background: #fafafa;
  border-color: #999;
  color: #23282d;
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-default:focus {
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
          box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-link, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-link, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-link, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-link {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-radius: 0;
  background: 0 0;
  cursor: pointer;
  text-align: left;
  color: #0073aa;
  -webkit-transition-property: border, background, color;
  transition-property: border, background, color;
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-link svg, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-link svg, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-link svg, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-link svg {
  fill: #0073aa;
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover, body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active {
  color: #00a0d2;
}

body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover svg, body.version-4-9 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active svg, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover svg, body.version-5-0 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active svg, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover svg, body.version-5-1 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active svg, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:hover svg, body.version-5-2 .acf-image-aspect-ratio-crop-modal .aiarc-button-link:active svg {
  fill: #00a0d2;
}
