@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.admin-bar .menu {
  top: 32px;
  /* on prend en compte le décalage */
  z-index: 999;
}

.site__header {
  display: flex;
  justify-content: space-between;
  background-color: #292929;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}
.site__header__logo {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}
.site__header__menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.site__header__menu ul {
  display: flex;
  flex-direction: row;
}
.site__header__menu ul li {
  border: 1px solid #292929;
  transition: all 400ms;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style-type: none;
  text-decoration: none;
}
.site__header__menu ul li:hover {
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: scale(1.15);
}
.site__header__menu ul li:hover a {
  color: #292929;
}
.site__header__menu ul li a {
  color: #FFF;
  text-decoration: none;
}