@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #292929;
}

p, a {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

body {
  line-height: 1;
}

.btn {
  border: 0;
  background-color: #292929;
  color: #FFF;
  padding: 15px 20px;
  font-size: 1.6rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.admin-bar .menu {
  top: 32px;
  /* on prend en compte le décalage */
  z-index: 999;
}

.site__header {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
}
.site__header__logo {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}
.site__header__menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
.site__header__menu li {
  border: 1px solid #1a1a1a;
  transition: all 400ms;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style-type: none;
  text-decoration: none;
}
.site__header__menu li:hover {
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: scale(1.15);
}
.site__header__menu li:hover a {
  color: #1a1a1a;
}
.site__header__menu li a {
  color: #eae5e5;
  text-decoration: none;
}

.newsletter {
  width: 100%;
  text-align: center;
  position: relative;
  font-family: "Poppins";
}
.newsletter__center {
  position: relative;
  top: 2rem;
  display: block;
  z-index: 2;
  margin: auto;
  width: 70%;
  height: 15rem;
  background-color: #1a1a1a;
  box-shadow: 0px 5px 5px black;
}
.newsletter__center__img {
  position: relative;
  width: 100%;
  height: 40%;
}
.newsletter__form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2rem;
  margin-right: 2rem;
}
.newsletter__form p {
  font-size: 2rem;
  color: #efefef;
  width: 10rem;
  font-family: "Poppins";
  font-weight: 700;
}
.newsletter__form__mail, .newsletter__form__submit {
  margin-top: 1rem;
  height: 4rem;
  border: 1px solid #1a1a1a;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.8rem;
}
.newsletter__form__submit {
  width: 12rem;
}
.newsletter__form__submit p {
  font-weight: bold;
}

.footer__img {
  z-index: -2;
  position: relative;
  margin-top: -6rem;
  width: 125rem;
  display: block;
}

.site__footer {
  width: 100%;
  position: relative;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.site__footer p, .site__footer b {
  color: white;
  font-size: 1.6rem;
}
.site__footer .footer__intro {
  margin-right: 5rem;
}
.site__footer .footer__intro__logo {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.site__footer .footer__intro__pub {
  width: 15rem;
  color: white;
}
.site__footer .footer__intro__media {
  display: flex;
  flex-wrap: wrap;
}
.site__footer .footer__intro__media img {
  margin-right: 2rem;
}
.site__footer .footer__open__hours__repeater {
  margin-bottom: 1rem;
  font-weight: bold;
}
.site__footer .footer__open__hours__repeater__line {
  border-bottom: 1px solid #eae5e5;
  width: 40% !important;
}
.site__footer .footer__open__hours__flex {
  display: flex;
  flex-direction: row;
  flex: 33%;
  width: 35rem;
  margin: 1rem;
}
.site__footer .footer__open__hours__flex p {
  margin: 0;
  padding: 0;
}
.site__footer .footer__contact {
  margin-left: 4rem;
}
.site__footer .footer__contact__phone {
  margin-top: 1rem;
}
.site__footer .footer__contact__adress, .site__footer .footer__contact__phone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.site__footer .footer__contact__adress__icone, .site__footer .footer__contact__phone__icone {
  margin-right: 2rem;
}
.site__footer .footer__contact__adress__restaurant {
  margin-top: 1rem;
}

.iscwp-img {
  height: 100%;
  width: auto !important;
}
.iscwp-img-link {
  margin: 0rem !important;
  display: none !important;
}
.iscwp-img-wrp {
  height: 10rem !important;
  margin: 0rem !important;
}

.iscwp-meta {
  display: none !important;
}

.site__footer__part__two {
  background-color: #1a1a1a;
}
.site__footer__part__two p {
  color: white;
  text-align: center;
  padding-top: 2rem;
}
.site__footer__part__two__line {
  border-top: 1px solid #eae5e5;
  width: 70%;
  display: block;
  margin: auto;
}

.menufront {
  text-align: center;
  width: 100%;
  padding: 6rem 3.2rem 6rem 3.2rem;
}
@media screen and (min-width: 1200px) {
  .menufront {
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-template-areas: ". images infos .";
    justify-content: center;
  }
}
.menufront__mobile {
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .menufront__mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menufront__images {
    max-width: 60%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .menufront__images {
    grid-area: images;
    max-width: none;
  }
}
.menufront__images img {
  margin: 1rem;
}
.menufront__infos {
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .menufront__infos {
    grid-area: infos;
    padding: 0 2rem;
  }
}
.menufront__infos__desktop {
  display: none;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .menufront__infos__desktop {
    display: block;
  }
}
.menufront__infos__desktop-subtitle {
  font-weight: 200;
  margin-bottom: 2rem;
}
.menufront__infos__desktop-title {
  margin-bottom: 4rem;
}
.menufront__infos-description {
  margin-bottom: 4rem;
}
@media screen and (min-width: 1200px) {
  .menufront__infos-description {
    margin-bottom: 8rem;
  }
}

.latestrecipes {
  width: 100%;
  padding-top: 6rem;
}
.latestrecipes__subtitle {
  font-weight: 300;
  text-align: center;
}
.latestrecipes__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .latestrecipes-wrapper {
    margin: 0 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .latestrecipes-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.lastrecipe {
  background-color: white;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .lastrecipe {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .lastrecipe {
    width: 24%;
  }
}
.lastrecipe__img-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
@media screen and (min-width: 992px) {
  .lastrecipe__img-wrapper {
    height: 170px;
  }
}
.lastrecipe__img-wrapper .wp-post-image {
  height: auto;
  width: 100%;
}
.lastrecipe__infos {
  padding: 24px 32px 10px 32px;
}
@media screen and (min-width: 1200px) {
  .lastrecipe__infos {
    padding: 24px 16px 10px 16px;
  }
}
.lastrecipe__infos-date {
  color: #7b7b7b;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 200;
}
.lastrecipe__infos-date img {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
.lastrecipe__infos-title {
  margin-bottom: 40px;
  text-align: justify;
}
.lastrecipe__infos-link {
  display: grid;
  grid-template-columns: 1fr 95px;
  grid-template-areas: " dash link ";
  align-items: center;
}
.lastrecipe__infos-dash {
  grid-area: dash;
  height: 1px;
  border-bottom: 1px dashed #1a1a1a;
  margin-top: 4px;
}
.lastrecipe__infos-readmore {
  grid-area: link;
  color: #1a1a1a;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}