@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins";
  max-width: 120rem;
}

.admin-bar .menu {
  top: 32px;
  /* on prend en compte le décalage */
  z-index: 999;
}

.site__header {
  display: flex;
  justify-content: space-between;
  background-color: #292929;
}
.site__header__logo {
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}
.site__header__menu {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
}
.site__header__menu li {
  border: 1px solid #292929;
  transition: all 400ms;
  display: inline;
  margin-left: 1rem;
  margin-right: 1rem;
  list-style-type: none;
  text-decoration: none;
}
.site__header__menu li:hover {
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: scale(1.15);
}
.site__header__menu li:hover a {
  color: #292929;
}
.site__header__menu li a {
  color: #FFF;
  text-decoration: none;
}

.site__footer {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex: 25%;
}
.site__footer .footer__intro {
  margin-right: 5rem;
}
.site__footer .footer__intro__pub {
  width: 15rem;
}
.site__footer .footer__intro__media {
  display: flex;
  flex-wrap: wrap;
}
.site__footer .footer__intro__media img {
  margin-right: 2rem;
}
.site__footer .footer__hours__section-1, .site__footer .footer__hours__section-2, .site__footer .footer__hours__section-3, .site__footer .footer__hours__section-4 {
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
}
.site__footer .footer__hours img {
  margin-right: 2rem;
}
.site__footer .footer__contact {
  width: 50rem;
}
.site__footer .footer__contact__phone, .site__footer .footer__contact__address, .site__footer .footer__contact__mail {
  display: flex;
  flex-direction: row;
}
.site__footer .footer__contact__phone img, .site__footer .footer__contact__address img, .site__footer .footer__contact__mail img {
  margin-right: 1rem;
}
.site__footer .footer__contact__address__street {
  margin-top: 1rem;
}
.site__footer .footer__contact__address__svg {
  margin-top: -2.5rem;
}
.site__footer .insta {
  width: 1.5rem;
  height: auto;
}