@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: #292929;
}

p, a, input, ul, li, label {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

a {
  color: #FFF;
  text-decoration: none;
}

h1 {
  font-size: 3.2rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.8rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
}

body {
  line-height: 1;
}

.btn {
  border: 0;
  background-color: #292929;
  color: #FFF;
  padding: 15px 20px;
  font-size: 1.6rem;
  display: inline-block;
}

.clear {
  clear: both;
}

* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  box-sizing: border-box;
}

.sectionHero {
  height: 60rem;
  position: relative;
  overflow: hidden;
  margin-top: -60px;
  z-index: -1;
}

.HeroImage {
  height: 100%;
  z-index: -5;
  position: absolute;
  left: -20%;
  filter: brightness(50%);
}
@media screen and (min-width: 768px) {
  .HeroImage {
    left: 0;
    width: 100%;
    height: auto;
  }
}

.boxTitleHero {
  position: absolute;
  padding-left: 4rem;
  padding-top: 10rem;
  padding-bottom: 13rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .boxTitleHero {
    padding-left: 10rem;
  }
}

.boxTitleHero * {
  color: white;
}

.HeroTitle {
  font-weight: 300;
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .HeroTitle {
    font-size: 5rem;
  }
}

.HeroTitle2 {
  font-weight: 600;
  font-size: 4.5rem;
}
@media screen and (min-width: 768px) {
  .HeroTitle2 {
    font-size: 7rem;
  }
}

.HeroTitle3 {
  font-size: 3rem;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  .HeroTitle3 {
    font-size: 4.5rem;
  }
}

.TheMenu {
  font-weight: 600;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
}

.welcome {
  font-weight: 400;
}

.boxSectionMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .section1 {
    width: 50%;
  }
}

.starterBox, .mainBox, .dessertBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 1rem 1rem;
}

.boxNameAndPrice {
  display: flex;
  width: 100%;
}

.Name {
  font-weight: 300;
  text-transform: uppercase;
}

.boxNameAndPrice > * {
  margin: 0;
}

.Dot {
  border-bottom: 1px black dotted;
  flex: 1;
  margin-bottom: 8px;
}

.titleStarter {
  margin: 2rem auto 5rem auto;
  width: fit-content;
  border-bottom: 1px solid black;
}

.Description {
  width: 80%;
  font-weight: 200;
  color: gray;
  margin: 0.5rem 0;
}

.selection {
  border: 2px solid #E1C303;
  position: relative;
}

.selection::before {
  content: "Chief Selection";
  position: absolute;
  top: -2rem;
  left: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #E1C303;
  color: white;
  font-family: "Poppins";
  font-weight: 600;
  width: 10rem;
  height: 2rem;
}

.latestrecipes, .newsletter {
  background-color: #eeeeee;
}